# --- Node.js (Servidor/API) ---
node_modules/
npm-debug.log
.env
api/node_modules/
api.zip

# --- Flutter (app_movil) ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
app_movil/build/
app_movil/.dart_tool/
app_movil/.flutter-plugins
app_movil/.flutter-plugins-dependencies
ios/Flutter/Generated.xcconfig
android/.gradle/
**/doc/api/

# --- IDEs (VS Code, IntelliJ) y Sistema ---
.vscode/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
.history